.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 2% auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(25, 20px);
}

.grid-item {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.grid-item:hover {
    background-color: pink;
}
