body {
    width: 90%;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    color: black;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
}

h4 {
    margin-top: 0px;
}

button {
    width: 100px;
    height: 50px;
    margin: 3%;
}

a {
    color: black;
}

a:hover _ {
    color: gray;
}

a:visited {
    color: gray;
}
