.presets-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-evenly;
    margin: 2% auto;
}

.dropdown {
    display: flex;
    justify-content: center;
}