.rules-container {
    display: flex;
    /* flex-direction: column; */
    width: 40%;
    justify-content: space-evenly;
    margin: 2% 0 0 0;
    padding: 0 3% 0% 3%;
}

.rules-container ul {
    margin: 0 auto;
}